aiocontextvars==0.2.2
aiohttp==3.6.2
aiohttp-cors==0.7.0
aiohttp-jinja2==1.2.0
aiomcache==0.6.0
apispec==3.3.2
async-timeout==3.0.1
asyncpg==0.21.0
atomicwrites==1.4.0
attrs==20.1.0
autopep8==1.5.4
bump2version==1.0.0
CacheControl==0.12.6
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
coverage==5.2.1
filtrark==0.9.3
firebase-admin==4.3.0
google-api-core==1.22.1
google-api-python-client==1.11.0
google-auth==1.21.0
google-auth-httplib2==0.0.4
google-cloud-core==1.4.1
google-cloud-firestore==1.9.0
google-cloud-storage==1.31.0
google-crc32c==1.0.0
google-resumable-media==1.0.0
googleapis-common-protos==1.52.0
grpcio==1.31.0
httplib2==0.18.1
idna==2.10
iniconfig==1.0.1
injectark==0.4.1
Jinja2==2.11.2
MarkupSafe==1.1.1
marshmallow==3.7.1
migrark==0.6.0
modelark==0.2.3
more-itertools==8.5.0
msgpack==1.0.0
multidict==4.7.6
packaging==20.4
pgdb==0.0.8
pluggy==0.13.1
protobuf==3.13.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
PyGreSQL==5.2
pyparsing==2.4.7
pytest==6.0.1
pytest-aiohttp==0.3.0
pytest-asyncio==0.14.0
pytest-clarity==0.3.0a0
pytest-cov==2.10.1
pytz==2020.1
requests==2.24.0
rsa==4.6
six==1.15.0
tenark==0.8.3
termcolor==1.1.0
toml==0.10.1
uritemplate==3.0.1
urllib3==1.25.10
uvloop==0.14.0
wcwidth==0.2.5
widark==0.3.3
yarl==1.5.1
